  /* CSS General Styling */
  html {
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    color: #4F5665;
    box-sizing: border-box;
  }

  *,
  *::before, 
  *::after {
    box-sizing: inherit;
  }

  .clearfix::after {
    /* content: '';
    display: table;
    clear: both; */
    overflow: auto;
  }

  body {
    margin: 0 auto;
    line-height: 1.5;
  }

  h1 {
    font-size: 2.188rem;
    margin: 0;
    color: #0B132A;
    font-weight: 500;
    text-align: center;
  }

  h2 {
    color: #0B132A;
  }

  .skip-links{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .skip-links a{
    position: absolute;
    top: -3em;
    background-color: black;
    color:white;
    padding: .5em 1em;
    font-weight: bold;
  }

  .skip-links a:focus{
    top: 0;
  }

  a,
  a:link,
  a:visited {
    color: #4F5665;
  }

  a:hover,
  a:focus {
    color: #E8082c;
  }


  .svg-icons {
    width: 100%;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
  }

  .btn-sq {
    background-color: #eb0a0a;
    color: #fff;
    border: none;
    padding: 0.625em 2.188em 0.625em  2.188em;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 10px 20px 0 rgba(245, 56, 56, 0.35);
  }

  .btn-sq:hover {
    background-color: #FFF;
    color: #eb0a0a;
    border: 1px #eb0a0a solid;
  }

  .btn-round {
    color: #E8082c;
    font-weight: bold;
    background-color: #fff;
    border:  1.5px #E8082c solid;
    border-radius: 40px;
    padding: 0.625em 2.188em 0.625em 2.188em;
    transition: all .5s ease;
  }

  .btn-round:hover {
    color: #fff ;
    background-color: #E8082c;
    box-shadow: 0 6px 20px 0 rgba(245, 56, 56, 0.35);
  }

  .grey-bg {
    background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0.00) 88.56%);

  }


  /* Nav styling */

  li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }

  .nav-bar {
    text-align: center;
  }

  .nav-bar ul {
    padding: 0;
  }

  .nav-bar  a,
  .nav-bar a:link,
  .nav-bar a:visited {
    display: block;
    padding: 1em;
  }

  .nav-bar a:hover,
  .nav-bar a:focus,
  .nav-bar a.current {
    color: #F53838;
    border: 1px #F53838 solid;
  }

  .icon {
    display: inline;
    
  }

  .icon img {
    padding-right: 0.625em;
  }

  .icon p {
    color: #0B132A;
    font-size: 1.25em;
  }

  /* hero banner styling */

  .hero-banner{
    text-align: center;
  }

  .hero-banner h1 {
    padding-bottom: 0.6em;
    padding-top: 1.5em;
  }

  .hero-banner p {
    margin: 0; 
    padding-bottom: 1.875em;
  }

  .hero-img {
    padding-top: 4em;
  }

  /* Aside styling */

  .numbers-main {
    text-align: center;
    padding-top: 1.875em;
  }

  .numbers-img {
    padding-top: 1.875em;
    width: 20%;
    transition: transform 1s;
  }

  .numbers-img:hover {
    transform: scale(1.5);
  }

  .numbers {
    font-size: 1em;
    margin: 0;
  }

  .big-num {
    color: #0B132A;
    font-size: 1.5625rem;
    font-weight: 700;
  }

 
  .numbers p {
    margin: 0;
    padding-left: 0.625em;
  }

  /* Features styling */

  .features {
    padding-top: 3.125em;
  }

  .features li img {
    padding-right: 0.563em;
  }

  .features-img {
    padding-top: 2.5em;
  }

  .features h2 {
    font-size: 1.563em;
    padding: 2.188em 0 0.938em 0;
  }

  .features h2,
  .features p {
    margin: 0;
    text-align: center;
  }

  .features ul{
    padding: 0;
  }

  /* choose your plan styling */

  .plan {
    text-align: center;
  }

  .plan h2 {
    font-size: 1.563em;
    padding-top: 3.125em;
  }

  .plan h2, 
  .plan p,
  .plan h3 {
    margin: 0;
  }

  /* plan card style */

  .card {
    border: 2px solid #DDD;
    border-radius: 10px;
    padding: 1.25em;
    margin-top: 0.625em;
    margin-bottom: 0.625em;
  }

  .card h3 {
    font-size: 1.25em;
    padding-bottom: 0.938em;
  }

  .card li {
    text-align: justify;
  }

  .card ul {
    margin: 0;
    padding: 0;
  }

  .card-price {
    color: #0B132A;
    font-size: 1.125em;
    font-weight: bold;
    padding-top: 0.938em;
    padding-bottom: 0.938em;
  }

  .vpn h2,
  .vpn p {
    text-align: center;
    margin: 0;
  }

  .vpn h2 {
    font-size: 1.563em;
    padding-top: 3.125em;
  }

  .vpn p {
    padding-bottom: 2.813em;
  }

  .vpn img {
    padding-bottom: 1.25em;
  }

  /* logos grid style */

  .logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: stretch;
    padding: 0 0.938em 0 0.938em;
  }

/* review section styling */

  .reviews {
    text-align: center;
    padding-top: 4em;
  }


  .reviews p {
    margin: 0;
  } 

  .card-name {
    padding-bottom: 0.6em;
  }

  .reviews .user-name {
    color: #0B132A;
    font-size: 1.125rem;
    font-weight: 500;
  }

  .review-cards {
    display: flex;
    flex-direction: column;
  }

  .review-card {
    border: 2px solid #DDD;
    border-radius: 10px;
    padding: 1.25em;
    margin-top: 0.625em;
    margin-bottom: 0.625em;
  }

  .review-card .user-name {
    color: #0B132A;
    margin: 0;
  }

  .fa-solid {
    font-size: 1.875em;
    padding: 0.563em 0.563em 0.563em 0.563em  ;
    color: #F53838;
    background-color: #FFF;
    border: 2px #F53855 solid;
    border-radius: 50%;
  }

  .fa-solid:hover {
    background-color: #F53838;;
    color: #FFF;
  }

  .star {
    width: 10%;
  }

  /* suscribe section */

  .suscribe {
    text-align: center;
    background-color: #FFF;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  
  .suscribe h2 {
    font-size: 1.563em;
  }

  /* footer styling */

  .foot {
    text-align: center;
    padding-top: 2.813em;
    background-color: #f5f5f5;
  }

  .foot p:nth-child(2) {
    padding: 0.938em;
  }

  .copyright {
    color: #666e7f;
  }

  .social {
    display: inline-flex;
  }

  .foot ul {
    padding: 0;
  }

  .foot li {
    padding-bottom: 0.625em;
  }

  .foot li:first-child {
    font-weight: bold;
    color: #0B132A;
  }

  /* about.html page styling */

  /* about section styling */

  .about h1 {
    padding-top: 1em;
  }

  .about p {
    text-align: center;
  }

  .about img {
    padding-bottom: 2.5em;
  }

  .objectives h2 {
    text-align: center;
  }

  .card-one h3,
  .card-one p,
  .card-two h3,
  .card-two  p,
  .card-three h3,
  .card-three p {
    margin: 0;
  }

  .card-one p,
  .card-two p,
  .card-three p {
    padding-bottom: 0.938em;
  }

  /* help page styling */
  /*FAQ styling  */

  .faq-main h1 {
    padding-bottom: 0.875em;
  }

  .faq-main p {
    margin: 0;
    padding-bottom: 0.938em;
    border-bottom: 2px #F53838 solid;
  }

  .faq h3 {
    color: #0B132A;
  }

  /* contact styling */

  .contact h2 {
    color: #0B132A;
    margin-bottom: 0;
  }

  .contact ul {
    margin: 0;
    padding: 0;
    padding-bottom: 1em;
  }

  .contact li {
    color: #0B132A;
    padding-bottom: 0.313em;
    padding-top: 0.625em;
  }

  .contact {
    padding-bottom: 1.875em;
    padding-top: 1.875em;
  }


/* tablet styling */
/* desktop styling */

@media screen and (min-width:1024px) {

  .btn-sq {
    width: 15.625em;
    height: 3.125em;
  }

  /* nav bar styling */
  .nav-bar {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

  }

  .nav-bar ul {
    margin: 0;
  }

  .nav-bar li {
    display: inline-block;
    padding: 0.313em;

  }

  .sign-up {
    display: flex;
  }

  .sign-up-link {
    padding: 3.125em;
  }

  /* hero banner styling */

  .hero-banner {
    display: flex;
    padding-top: 2.188em;
    padding-bottom: 5em;
    text-align: justify;
    align-items: center;
  }

  h1 {
    font-size: 3.125em;
    color: #0B132A;
    padding: 0 2.625em 1.875em 0;
    text-align: left;
  }

  .hero-banner p {
    padding-right: 2.625em;
    margin-bottom: 1.875em;
  }

  /* Numbers styling */

  .numbers-main {
    display: flex;
    justify-content: space-evenly;
    padding: 3.125em;
    box-shadow: 8px 10px 10px 0 rgba(0, 0, 0, 0.06);
    border-radius: 10px;
  }

  .number-block {
    display: flex;
    align-items: center;
    padding: 0.75em 4.438em 0.75em 4.438em;
  }

  .text-block {
    margin-left: 1.25em;
    text-align: justify;
  }

  .text-block h3 {
    font-size: 1.563em;
  }

  .mid-lines {
    border-left: 2px #EEEFF2 solid;
    border-right: 2px #EEEFF2 solid;
  }

  .numbers-img {
    padding-top: 0;
    width: 3.438em;
    height: 3.438em;
  }

  /* feature styles */
  
  .features {
    display: flex;
    align-items: flex-end;
    padding-top: 6.25em;
    padding-bottom: 6.25em;

  }

  .features-text h2,
  .features p {
    text-align: justify;
  }

  .features h2 {
    font-size: 2.188em;
    color: #0B132A;
  }

  .features-text {
    padding-left: 12.5em;
  }

  .features-text li {
    padding-top: 0.625em;
    padding-bottom: 0.625em;
  }

  /*  plan section styling */

  .plan h2 {
    font-size: 2.188em;
    color: #0B132A;
    padding-bottom: 1.563em;
  }

  .plan-text {
    padding-bottom: 4.375em;
  }

  .card-price {
    padding-bottom: 0;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3.125em;
    align-items: stretch;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .card h3 {
    padding-top: 2.5em;
    padding-bottom: 0.625em;
  }

  .card li {
    padding: 0.625em;
    font-size: 0.875em;
  }

  .card-price {
    padding-top: 2.5em;
    
  }

  /* vpn styling */

  .vpn h2 {
    color: #0B132A;
    text-align: center;
    font-size: 2.188em;
  }

  .vpn p {
    padding-bottom: 6.25em;
  }

/* Svg-syling logos */

.logos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 20px;
}

/* Customer review styling */

.reviews {
  margin-bottom: 10em;
}

.reviews .user-name {
  text-align: center;
}

.card-name {
  padding-bottom: 3.125em;
}
/* card styling */

.review-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 20px;
  text-align: justify;
}

.review-card {
display: flex;
flex-wrap: wrap;
align-content: flex-start;
}

.small-body {
align-self: left;
}

.card-name {
  padding-left: 1em;
  padding-bottom: 0.6em;
}

.rating {
  padding-left: 5em;
}

.star {
  width: 40%;
}

.arrows {
  text-align: right;
  padding-top: 1.563em;
}

.fa-solid {
  font-size: 1.563em;
  text-align: center;
  padding: 0.625em 0.625em 0.625em 0.625em;
}

/* suscribe styling */

.suscribe {
  margin-left: 5em;
  margin-right: 5em;
  text-align: justify;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.813em;
  box-shadow: 8px 10px 10px 0 rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 1.563em;

}

.suscribe h2 {
  color: #0B132A;
  font-size: 2.188em;
  margin-bottom: 0;
}

/* footer styling */

.foot {
  text-align: justify;
  display: flex;
  justify-content: space-around;
}

.icon {
  padding-bottom: 1.25em;
}

.icon p {
  margin-bottom: 0;
}

/* about.html styling for desktop */

.about {
  padding-top: 3.125em;
  display: flex;
  padding-bottom: 0.938em;
}

.about h1 {
  padding-bottom: 0.938em;
}

.about p {
  text-align: justify;
  margin: 0;
  padding-bottom: 0.938em;
  padding-right: 9.375em;
}

/* objectives styling */

.objectives {
  padding-bottom: 5.938em;
}

.objectives h2 {
    font-size:  2.188em;
}

.card-one h3,
.card-two h3,
.card-three h3 {
    padding-top: 0.313em;
  }

.card-one p,
.card-two p,
.card-three p {
  padding-top: 1.563em;
  padding-bottom: 2.813em;
}

.vpn-about p {
  padding-left: 9.375em;
  padding-right: 9.375em;
}

/* help page desktop styling */

.faq-main {
  padding-bottom: 4.375em;
}

.faq-main p {
  margin-right: 25em;
}

.faq h3 {
margin: 0;
padding-bottom: 1.25em;
}

.faq {
  margin-bottom: 5em;
}

.faq p {
  padding-right: 6.25em;
  padding-bottom: 0.938em;
  margin: 0;
}

.faq-flex {
  display: flex;
}

.contact {
 width: 45%;
 padding-top: 0;
}

.contact h2 {
  margin: 0;
}

}






  
