  /* CSS General Styling */
  html {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    color: #4F5665;
    box-sizing: border-box;
  }

  *,
  *::before, 
  *::after {
    box-sizing: inherit;
  }

  .clearfix::after {
    /* content: '';
    display: table;
    clear: both; */
    overflow: auto;
  }

  body {
    margin: 0 auto;
    line-height: 1.5;
  }

  a a:link,
  a:visited {
    color: #4F5665;
  }

  a:hover,
  a:focus {
    color: #F53838;
  }

  .svg-icons {
    width: 100%;
  }

  /* h1 {
    font-size: 50px;
    color: #0B132A;
  }

  h2 {
    font-size: 35px;
    color: #0B132A;
  }

  h3 {
    font-size: 25px;
    color: #0B132A;

  }

  h4 {
    font-size: 18px;
  }

  .small-body {
    font-size: 14px;
    color: #4F5665;
  } */

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
  }

  .btn-sq {
    background-color: #F53838;
    color: #fff;
    border: none;
    padding: 10px 35px 10px 35px;
    border-radius: 5px;
    font-weight: bold;
  }

  .btn-round {
    color: #F53855;
    background-color: #fff;
    border:  1.5px #F53855 solid;
    border-radius: 40px;
    padding: 10px 35px 10px 35px;
  }

  .btn-round:hover {
    color: #fff ;
    background-color: #F53855;
  }

  .grey-bg {
    background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0.00) 88.56%);
    
  }


  /* Nav styling */

  li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }

  .nav-bar {
    text-align: center;
  }

  .nav-bar ul {
    padding: 0;
  }

  .nav-bar  a,
  .nav-bar a:link,
  .nav-bar a:visited {
    display: block;
    padding: 1em;
  }

  .nav-bar a:hover,
  .nav-bar a:focus,
  .nav-bar a.current {
    color: #F53838;
  }

  .icon {
    display: inline;
    
  }

  .icon img {
    padding-right: 10px;
  }

  .icon p {
    color: #0B132A;
    font-size: 20px;
  }

  /* hero banner styling */

  .hero-banner{
    text-align: center;
    padding-top: 50px;
  }

  .hero-banner h1 {
    font-size: 35px;
    padding: 50px 10px 30px 10px;
    margin: 0;
    color: #0B132A;
    font-weight: 500;
  }

  .hero-banner p {
    margin: 0; 
    padding-bottom: 30px;
  }

  .hero-img {
    padding-top: 25px;
  }

  /* Aside styling */

  .numbers-main {
    text-align: center;
    padding-top: 30px;
  }

  .numbers-img {
    padding-top: 30px;
    width: 20%;
  }

  .numbers {
    font-size: 16px;
    margin: 0;
  }

  .numbers h3, 
  .numbers p{
    margin: 0;
    padding-left: 10px;
  }

  /* Features styling */

  .features {
    padding-top: 50px;
  }

  .features li img {
    padding-right: 9px;
  }

  .features-img {
    padding-top: 40px;
  }

  .features h2 {
    font-size: 25px;
    padding: 35px 0 15px 0;
  }

  .features h2,
  .features p {
    margin: 0;
    text-align: center;
  }

  .features ul{
    padding: 0;
  }

  /* choose your plan styling */

  .plan {
    text-align: center;
  }

  .plan h2 {
    font-size: 25px;
    padding-top: 50px;
  }

  .plan h2, 
  .plan p,
  .plan h3 {
    margin: 0;
  }

  /* plan card style */

  .card {
    border: 2px solid #DDD;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .card h3 {
    font-size: 20px;
    padding-bottom: 15px;
  }

  .card li {
    text-align: justify;
  }

  .card ul {
    margin: 0;
    padding: 0;
  }

  .card-price {
    color: #0B132A;
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .vpn h2,
  .vpn p {
    text-align: center;
    margin: 0;
  }

  .vpn h2 {
    font-size: 25px;
    padding-top: 50px;
  }

  .vpn p {
    padding-bottom: 45px ;
  }

  .vpn img {
    padding-bottom: 20px;
  }

  /* logos grid style */

  .logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: stretch;
    padding: 0 15PX 0 15px;
  }

/* review section styling */

  .reviews {
    text-align: center;
  }

  .reviews h2,
  .reviews p {
    margin: 0;
  }

  .reviews h2 {
    font-size: 25px;
  }

  .review-cards {
    display: flex;
    flex-direction: column;
  }

  .review-card {
    border: 2px solid #DDD;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .review-card h4 {
    color: #0B132A;
    margin: 0;
  }

  .fa-solid {
    font-size: 30px;
    padding: 9px 9px 9px 9px ;
    color: #F53838;
    background-color: #FFF;
    border: 2px #F53855 solid;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  .fa-solid:hover {
    background-color: #F53838;
    color: #FFF;
  }

  .fa-arrow-left {
    
  }

  .star {
    width: 10%;
  }

  /* suscribe section */

  .suscribe {
    text-align: center;
    background-color: #FFF;
  }
  
  .suscribe h2 {
    font-size: 25px;
  }

  /* footer styling */

  .foot {
    text-align: center;
    padding-top: 45px;
    background-color: #F8F8F8;
  }

  .foot p:nth-child(2) {
    padding: 15px;
  }

  .copyright {
    color: #AFB5C0;
  }

  .social {
    display: inline-flex;
  }

  .foot ul {
    padding: 0;
  }

  .foot li {
    padding-bottom: 10px;
  }

  .foot li:first-child {
    font-weight: bold;
    color: #0B132A;
  }


/* tablet styling */
/* desktop styling */

@media screen and (min-width:1024px) {

  .btn-sq {
    width: 250px;
    height: 50px;
  }

  /* nav bar styling */
  .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-bar ul {
    margin: 0;
  }

  .nav-bar li {
    display: inline-block;
    padding: 5px;

  }

  .sign-up {
    display: flex;
  }

  .sign-up-link {
    /* padding: 50px; */
  }

  /* hero banner styling */

  .hero-banner {
    display: flex;
    padding-top: 35px;
    padding-bottom: 80px;
    text-align: justify;
    align-items: center;
  }

  .hero-banner h1 {
    font-size: 50px;
    color: #0B132A;
    padding: 0 42px 30px 0;
  }

  .hero-banner p {
    padding-right: 42px;
    margin-bottom: 30px;
  }

  /* Numbers styling */

  .numbers-main {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
  }

  .number-block {
    display: flex;
    align-items: center;
    padding: 12px 71px 12px 71px;
  }

  .text-block {
    margin-left: 20px;
    text-align: justify;
  }

  .text-block h3 {
    font-size: 25px;
  }

  .mid-lines {
    border-left: 2px #EEEFF2 solid;
    border-right: 2px #EEEFF2 solid;
  }

  .numbers-img {
    padding-top: 0;
    width: 55px;
    height: 55px;
  }

  /* feature styles */
  
  .features {
    display: flex;
    align-items: flex-end;
    padding-top: 100px;
    padding-bottom: 100px;

  }

  .features-text h2,
  .features p {
    text-align: justify;
  }

  .features h2 {
    font-size: 35px;
    color: #0B132A;
  }

  .features-text {
    padding-left: 200px;
  }

  .features-text li {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /*  plan section styling */

  .plan h2 {
    font-size: 35px;
    color: #0B132A;
    padding-bottom: 25px;
  }

  .plan-text {
    padding-bottom: 70px;
  }

  .card-price {
    padding-bottom: 0;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    align-items: stretch;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .card h3 {
    padding-top: 40px;
    padding-bottom: 10px;
  }

  .card li {
    padding: 10px;
    font-size: 14px;
  }

  .card-price {
    padding-top: 40px;
    
  }

  /* vpn styling */

  .vpn h2 {
    color: #0B132A;
    text-align: center;
    font-size: 35px;
  }

  .vpn p {
    padding-bottom: 100px;
  }

/* Svg-syling logos */

.logos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 20px;
}

/* Customer review styling */

.reviews h2 {
  color: #0B132A;
  text-align: center;
  font-size: 35px;
  padding-top: 100px;
  padding-bottom: 10px;
}

.reviews p {
  padding-bottom: 50px;
}
/* card styling */

.review-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 20px;
  text-align: justify;
}

.review-card {
display: flex;
flex-wrap: wrap;
}

.small-body {
align-self: left;
}

.card-name {
  padding-left: 15px;
}

.rating {
  padding-left: 80px;
}

.star {
  width: 40%;
}

.arrows {
  text-align: right;
  padding-top: 25px;
}

.fa-solid {
  font-size: 25px;
  text-align: center;
  padding: 10px 10px 10px 10px;
  width: 50px;
  height: 50px;
}

/* suscribe styling */

.suscribe {
  margin-left: 80px;
  margin-right: 80px;
  text-align: justify;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 45px;

}

.suscribe h2 {
  color: #0B132A;
  font-size: 35px;
  margin-bottom: 0;
}

/* footer styling */

.foot {
  text-align: justify;
  display: flex;
  justify-content: space-around;
}

.icon {
  padding-bottom: 20px;
}

.icon p {
  margin-bottom: 0;
}









}






  
